<li *ngIf="pokemon" class="bg-slate-200 mb-4 rounded-xl shadow">
    <section class="flex justify-between">
        <img src="{{pokemon.img}}" class="pt-1" width=""/>
        <app-capture-pokemon-button [pokemonId]="pokemon.id"></app-capture-pokemon-button>
    </section>
    <section>
        <span class="bg-green-700 text-white rounded-2xl flex  shadow ">  #{{pokemon.id}}. {{pokemon.name | titlecase}}   </span>
    </section>
</li>