<nav class="bg-green-900 flex justify-between items-center p-4 sticky top-0 w-full">
    <img src="assets/pokemon-logo.png" width=" 120px"/>
    <!-- <ng-container *ngIf="trainer !== undefined"> -->
    <ng-container *ngIf="trainerSession !==0">
        <ul class="flex ">
            <Li class="px-4">
                <button class="hover:rounded-full font-bold hover:bg-lime-600 text-white" routerLink="/pokemons">Pokédex</button>
            </Li>
            <Li class="px-4">
                <a class="hover:rounded-full font-bold hover:bg-lime-600 text-white" routerLink="/trainer">Profile</a>
            </Li>
            <li>
                <app-logout-button class="hover:rounded-full font-bold hover:bg-lime-600 text-white"></app-logout-button>
            </li>
        </ul>
    </ng-container>
</nav>
