<main class="container mx-auto p-4" >
    <div class="flex justify-between">
        <h3 class="text-green-900 font-bold"> Welcome {{name}} </h3>
        <h3 class="text-green-900 font-bold"> Pokédex progress {{count}} /151</h3>
    </div>
    <p *ngIf="loading" class="text-green-900 font-bold">Loading pokemons...</p>
    <app-pokemon-list [pokemons]="pokemons" ></app-pokemon-list>
</main>
