
<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <fieldset class="mb-3">
        <label for="username" class="block text-white font-bold">Give us your username</label>
        <input type="text" 
            required
            minlength="3"
            ngModel
            #username="ngModel"
            name="username" id="username" 
            class="border form-control border-slate-300 p-2 rounded w-full" 
            placeholder="Johndoe"/>
    </fieldset>
    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger" >
        <div *ngIf="username.errors?.['minlength']">Minimun length is 3 chars</div>
    </div>
    <button type="submit" class="bg-lime-700 p-2 rounded  text-white font-bold">Login</button>
</form>
