<aside >
    <button (click)="onCapturePokemon()">

        <ng-container *ngIf="isCaptured; then open else closed"></ng-container>

        <ng-template #open>
            <span class="text-red-500 font-extrabold">Release!</span>
            <img src="assets/pokeball.jpg" width="50px" 
            class="m-6">
        </ng-template>

        <ng-template #closed>
            <span class="text-red-500 font-extrabold">Catch!</span>
            <img src="assets/open-pokeball.png" width="50px" 
            class="m-6">
        </ng-template>
    </button>  
</aside>
